
   
body{margin: 0px;
width: 750px;
height: 1334px;
overflow: hidden;}
.background{
    background-position:top left;
    width:100%;
    height: 100%;
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}
.pumkin{
    
    position:fixed; 
    background-size: 100%;
    background-repeat: no-repeat;
    animation-name: MoveToBottom;  
    animation-iteration-count: infinite;  
}


   
  
.p1{
    top:0px;
    right:8%;
    width: 35%;
    height:80%;
    animation-duration: 4s;
    
    background-size: 150%;   /*動畫持續時間，單位為秒*/
}

.p2{
    top:-10%;
    right:8%;
    width: 55%;
    height:100%;
    background-size: 120%;  
    animation-name: MoveToBottom1;
    animation-duration: 3s;    /*動畫持續時間，單位為秒*/
}
.p3{
    top:-20%;
    right:40%;
    width: 60%;
    height:100%;
    background-size: 130%;
    animation-duration: 4s;  
    animation-name: MoveToBottom2;   /*動畫持續時間，單位為秒*/
}




@keyframes MoveToBottom{
0%{ top:0px;}
50%{top:-10%;}
100%{ top:0px;}

}
@keyframes MoveToBottom1{
    0%{ top:-10%;}
    50%{top:-20%}
    100%{ top:-10%;}
    
    }
@keyframes MoveToBottom2{
        0%{ top:-20%;}
        50%{top:-30%}
        100%{ top:-20%;}
        
     }

.moon{
    top:-10%;
    right: -5%;
    width: 100%;
    height:100%;
    position:fixed; 
    background-size: 100%;
    background-repeat: no-repeat;
    animation-name: Moon;  
    animation-iteration-count: infinite;  
    animation-timing-function: linear;
    animation-duration: 15s; 
    background-size: 120%;
}

@keyframes Moon{
    0%{ transform:scale(1) ;}
    50%{transform: scale(1.1);}
    100%{ transform: scale(1);}
    
    }

.b1{

    top:130%;
    left:70%;
    width:10%;
    height:50%;
    position:fixed; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url('../images/b1.png');
    
    animation-timing-function: linear;
    animation: bat 1s infinite,batfly 15s infinite;
    
    
}

.b2{

    top:-30%;
    left:-20%;
    width:8%;
    height:50%;
    position:fixed; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url('../images/b1.png');
    
    
    animation-timing-function: linear;
    animation: bat 1s infinite,batfly1 20s infinite;
    
    
}
.b3{

   top:20%;
    left:-50%;
    width:10%;
    height:50%;
    animation-timing-function: linear;
    animation: bat 1s infinite,batfly2 30s infinite;
}
@keyframes bat{
    0%{ background-image:url('../images/b1.png');
        }
    50%{background-image:url('../images/b2.png');
        
    }
    100%{background-image:url('../images/b1.png');
       
    }
    }
@keyframes batfly{
    0%{ top:130%;}
    50%{
        top:-50%;
        left: 30%;
    }
    100%{
        top:130%;}
    }
@keyframes batfly1{
    0%{ top:-30%;}
    50%{
        top:150%;
        left: 80%;
    }
    100%{
        top:-30%;}
    }
@keyframes batfly2{
    0%{ left:-50%;}
    50%{
           top:70%;
            left: 180%;  }
    100%{ left:-50%;
            }
    }
.pp{
    background-image: url('../images/title.svg');
    width: 100%;
    height: 60%;
    
    background-size: 100%;
    background-repeat: no-repeat;
    left: 0%;
    bottom: -20%;
    position:fixed;
    cursor: pointer;
    animation: into 1.5s infinite;
   
}

.pp.click{  
   
    display:none;

  }


@keyframes into{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes big{
    0%{ opacity: 0 ;}
    100%{ opacity: 1;}
    
    }
@keyframes big{
    0%{ transform:scale(1) ;}
    40%{transform:scale(1) ;}
    50%{transform: scale(1.1);
        transform: rotate(0.1turn);
     }
    60%{transform:scale(1) ;}
    100%{ transform: scale(1);}
    
    }
.black
{
    display:none;
    width: 140%;
    height: 70%;
    background-image: url('../images/word2.png');
    
    background-size: 100%;
    position: fixed;
    bottom: 0%;
    left: -25%;
    border-radius: 15px;
   
    
   
    background-repeat: no-repeat;
}



/**.btn,.btn::before{
    width:200px;
    height:30px;
    line-height:30px;
    text-align:center;
    border-radius:3px;
  }
  .btn{
    position:relative;
    background:#5ad;
    color:#fff;
    cursor:pointer;
  }
  .btn::before{
    content:"loading";
    position:absolute;
    display:none;
    z-index:2;
    top:0;
    left:0;
    color:#fff;
    text-shadow:rgba(100,0,0,1) 0 0 3px;
    background:-webkit-linear-gradient(45deg,#fc0 0%,#fc0 20%,#fa0 20%, #fa0 45%,#fc0 45%,#fc0 70%,#fa0 70%, #fa0 95%,#fc0 95%,#fc0 100%);
    background-size:30px 30px;
    background-position:0 0;
    animation:click 1s infinite linear;
  }
  .btn.click::before{
    display:block;
  }**/
  .test.click{
    display:none;
  }
  @keyframes click{
    0%{
      background-position:0 0;
    }
    100%{
      background-position:30px 0;
    }
  }


  .party
  {
      width: 50%;
      height: 70%;
      background-size: 100%;
      background-image: url('../images/party.png');
      position: fixed;
      top: 0%;
      left: 40%;
      background-repeat: no-repeat;
      display: block;
      background-color: black;
      
  }
.pum{
    width: 80%;
    height: 40%;
    background-image: url('../images/pum.svg');
    background-size: 100%;
   
    background-repeat: no-repeat;
   
    position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
   

}

.pum.revise{
    z-index: -2;
}
.pum.click{
    animation-name:pumclick; 
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}
@keyframes pumclick{
    70%{opacity: 1;}
   
    100%{
      transform: scale(9) rotate(360deg) translateY(-6em) translateX(-2em);
      opacity: 0;
      display: none;
      
    }
  }
.pumb{
    width: 100%;
    height: 100%;
  line-height: 100%;
    background-color: rgba(0, 0,0, 1);
    position:fixed;
    top: 0%;
    left: 0%;
    text-align: center;
    

}
.pumb.revise{
    z-index: -2;
}
.pumb.click{
    animation-name:pumbclick; 
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}
@keyframes pumbclick{
    90%{opacity: 1;}
    
    100%{
      
      opacity: 0;
      display: none;
     
      
    }
  }
.touch
{
    width: 30%;
    height: 30%;
    background-image: url('../images/touch.png');
    background-size: 100%;
  
    position:fixed;
    top: 20%;
    left:60%;
    background-repeat: no-repeat;
    animation:touchpum 3s  infinite;
    
}
@keyframes touchpum{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{
      
      opacity: 1;
      
      
    }
  }

.rankgroup{
    width: 100%;
    height: 20%;
    background-image: url('../images/btn2.png');
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: 100%;
    

}
.partylist{background-image: url('../images/btn1.png');
}
.witch{
    width: 100%;
    background-repeat: no-repeat;
    height: 45%;
    background-image: url('../images/witch.png');
    background-size: 100%;
}

.topbuttongroup
{
width: 100%;
height: 100px;
color: white;
background-color: rgba(0, 0,0, 0.5);
position: fixed;
text-align: right;
top: 0;
left: 0;
line-height:100px;

}
.btn{
    width: 40%;
    height: 100%;
    color: white;
    float: right;
    font-size:x-large;
    margin-right: 3%;
    
}

/**第二頁**/




